.banner
{
	background-color: #3498DB;
	overflow: hidden;
}
.banner img
{
	width: 60px;
	height: 60px;
}
.banner p
{
	color:#F4D03F;
	font-weight: bolder;
	font-family: "Arial", cursive, sans-serif;
}

.menu
{
	background-color: #F4D03F;
	overflow: hidden;
}

.menu ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.menu ul li
{
	display: inline;
	float: left;
 	border-right: 1px solid #bbb;
}
.menu ul li:last-child
{
 	border-right: none;
 	float: right;
}

.menu ul li a
{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 8px 50px;
	font-family: "Arial", cursive, sans-serif;

}
.menu ul li a:hover
{
	background-color: #D35400;
	color: white;

}
/*.container {
    position: relative;
    
    font-family: Arial;
}

.container p
{
    position: relative;
    
    background-color: transparent;
    color: white;
    padding-left: 40px;
    top: -40px;
}

.facilities img
{
	display: inline-block;
	margin:-2px;

}
.faci_menu
{
	overflow: hidden;
	margin-top: -60px;
	opacity: 0.8;
	background-color: black;
}
.faci_menu ul
{
	list-style-type: none;
	display: table;
	width: 100%;
	padding: 0px;
	margin:0px;
}
.faci_menu ul li
{
	display: table-cell;

	padding: 0px;
	margin:0px;
}
.faci_menu ul li p
{
	text-align: left;
	color:#D35400;
	text-shadow: 2px 2px 4px #000000;
	font-family: "Arial", cursive, sans-serif;
}*/

/*.heading
{
	background-color: #F4D03F;
	margin-top: 20px;
	overflow: hidden;
}
.heading p
{
	text-align: center;
	font-family: "Arial", cursive, sans-serif;
	font-size: 13px;
	font-weight: bolder;
}*/

.lgin
{

	margin-top: -270px;
	margin-bottom: 30px;
}
.lgin p
{
	margin-right: 20px;
	color:#21618C;
	font-size: 25px;
	font-family: "Arial", cursive, sans-serif;
}
.lgin input
{
	text-align: right;
	font-size: 25px;
	opacity: .5;
	margin-top: -16px;
	margin-right: 20px;
}